@{
    ViewData["Title"] = "Home Page";
}

<h1>Sea Grant Working Waterfronts</h1>
<div class="home-page">
    <div>

    </div>

    <div class="seagant-details">
        <p><strong>Oregon Sea Grant serves the state, region and nation through an integrated program of research, outreach, and education that helps people understand, rationally use and conserve marine and coastal resources.</strong></p>
        <p>We apply the best available science to timely and important ocean and coastal issues, and engage with coastal stakeholders to help them reach informed decisions. We support scientific excellence and innovation, foster new generations of marine scientists and encourage ocean science literacy among people of all ages.</p>
        <p>Based at Oregon State University and working with scientists, scholars and communities statewide, we're part of the national network of&nbsp;<a href="http://www.seagrant.noaa.gov/"><acronym title="National Oceanic and Atmospheric Administration">NOAA&nbsp;</acronym>Sea Grant College Programs</a>.</p>
    </div>
</div>

