.TitleClass {
    height: calc(2em + 4px);
    width: calc(60%);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
}

.TitleClass select {
    border: 2px double black;
    font-size: 2em;
    height: calc(1em + 2px);
    width: calc(100%);
    text-align-last: center;
}