@model SeaGrant.Tsunami.Web.Models.MainPageVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page" id="page-container">

</div>
<div id="ScaredMessage" class="demo-warning"><span class="label">Please note: </span><span class="description">These videos are only simulations. If youhave questions abouthow to get to the evacuation point, please ask a Staff Member</span></div>

@section Scripts {
    <environment names="Development">
        <script src="~/scripts/seagrant.main-page.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="~/scripts/seagrant.main-page.min.js"></script>
    </environment>

    <script type="text/javascript">
        EntryPoint.initMainPage(@Json.Serialize(Model));
    </script>
}