@model SeaGrant.Tsunami.Web.Models.MainPageVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page" id="page-container">

</div>
<div id="ScaredMessage" class="demo-warning"><span class="label">Please note: </span><span class="description">These videos are only simulations. Don't be scared.</span></div>

@section Scripts {
    <environment names="Development">
        <script src="~/scripts/VideoListElement.js"></script>
        <script src="~/scripts/VideoList.js"></script>
        <script src="~/scripts/VideoFrame.js"></script>
        <script src="~/scripts/PlacesList.js"></script>
        <script src="~/scripts/MainPage.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="~/scripts/VideoListElement.min.js"></script>
        <script src="~/scripts/VideoList.min.js"></script>
        <script src="~/scripts/VideoFrame.min.js"></script>
        <script src="~/scripts/PlacesList.min.js"></script>
        <script src="~/scripts/MainPage.min.js"></script>
    </environment>

    <script type="text/javascript">
        initMainPage(@Json.Serialize(Model));
    </script>
}